.gridContainer {
    display: flex;
    margin: auto;
    width: 25%;
    min-width: 400px;
}

.sideContainer {
    margin-left: 20px;
    position: relative;
    float: left;
}


#grid {
    width: 200px;
    height: 400px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap; 
    outline: 1px solid black;

    
}

#grid div {
    height: 20px;
    width: 20px;
    /* border: solid 1px;  */
    
}

.nextGrid {
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: brown; */

}

.nextGrid div {
    width: 25px;
    height: 25px;   
    /* border: 1px solid; */
    
}

.tetromino {
    background-color: aqua;
    /* border: solid 1px; */
    box-sizing: border-box;
    border: 1px solid gray;
}

.nextTetromino {
    background-color: aqua;
    /* border: solid 1px; */
    box-sizing: border-box;
    border: 1px solid white;
}

#startButton{
    position: absolute;
    bottom: 0;
    background-color: rgb(90, 192, 90);
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#name {
    position: absolute;
    top: 0px;
}